<html>

<head>
    <title>MyTODO</title>

    <link href="static/style.css" rel="stylesheet" type="text/css">
    <link href="static/images/favicon.ico" id="favicon" rel="icon" type="image/x-icon">
</head>

<body>
    <h1>My TODO list</h1>
    <br />
    <table>
        <tr>
            <th>ToDo</th>
            <th>Options</th>
        </tr>

        {% for id in tododict %}
        <tr>
            <td>{{ tododict[id] }}</td>
            <td><a href="/delete/{{ id }}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}

        <tr>
            <form method="POST" action="/add">
                <td>
                    <input type="text" name="newtodo" required>
                </td>
                <td style="text-align: center;">
                    <button type="submit">Add</button>
                </td>
            </form>
        </tr>
    </table>
</body>

</html>